<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>fr</string>
	<key>CFBundleDisplayName</key>
	<string>Mot du jour</string>
	<key>CFBundleExecutable</key>
	<string>MotDuJour</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>fr.dova.motdujour</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Mot du jour</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.word-games</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>MDJMiseAJourCle</key>
	<string>gVSw+/nXNiwptX3WuGKjROstuSsjdTJS7tmXpzqdugA=</string>
	<key>MDJMiseAJourURL</key>
	<string>https://api.github.com/repos/rakitchc-art/mot-du-jour-mac/releases/latest</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Dova, 2026 — mots : Lexique 3.83 (CC BY-SA 4.0) et Grammalecte (MPL 2.0)</string>
</dict>
</plist>
